@charset "UTF-8";
* {
  outline: none;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-card {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 20px;
}

.reset-password-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.reset-password-form h2 {
  margin-bottom: 20px;
}

.admission-form {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.admission-form h2 {
  margin-bottom: 20px;
}

#form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  text-align: left;
  font-weight: bold;
}

.form-group input,
select {
  width: 90%;
  padding: 8px;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  margin-top: 5px;
}

.error {
  border: 2px solid rgb(249, 62, 16);
}

.success {
  border: 2px solid rgb(36, 168, 36);
}

.form-actions {
  margin-top: 15px;
}

.form-actions a {
  text-decoration: none;
}